# macOS
.DS_Store

# VS Code
.vscode/

# Build folders
build/
bin/
out/

# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Libraries
*.a
*.so
*.dll
*.dylib

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs
*.log